<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <p class="typewriter">
        {{ output | safe }}
    </p>
    <form id="welcome" action="/create_character" method="post">
        <input type="text" name="welcome-input" />
        <input type="submit" id="submit" value="Submit" style="display: none;" />
    </form>

</body>

</html>
<script>
    // var input = document.getElementById("input")

    // input.addEventListener("keypress", function (event) {
    //     if (event / key === "Enter") {
    //         event.preventDefault();
    //         document.getElementById('submit').click();
    //     }
    // })


</script>